# {{ ansible_managed }}

global_defs {
{% if haproxy_keepalived_notif %}
   notification_email {
     {{ haproxy_keepalived_notif_email_dest }}
   }
   notification_email_from {{ haproxy_keepalived_notif_email_from }}
   smtp_server {{ haproxy_keepalived_notif_smtp }}
   smtp_connect_timeout {{ haproxy_keepalived_notif_smtp_timeout }}
{% endif %}
   router_id {{ ansible_hostname }}
}

vrrp_script check_haproxy {
  script "pidof haproxy"
  interval 2
  weight 2
}


vrrp_instance VIP_HAPROXY {
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] == haproxy_keepalived_master_ip %}
    state MASTER
    priority 100
{% else %}
    state BACKUP
    priority 99
{% endif %}
{% if haproxy_keepalived_notif %}
    smtp_alert
{% endif %}
{% if not haproxy_keepalived_auto_failback  %}
    nopreempt
{% endif %}
    interface {{ haproxy_keepalived_interface }}
    virtual_router_id {{ haproxy_keepalived_vrrpid }}
    virtual_ipaddress {
{% for ip in haproxy_ip_to_bind %}
        {{ ip }}
{% endfor %}
    }

    track_script {
        check_haproxy
    }

    authentication {
        auth_type AH
        auth_pass {{ haproxy_keepalived_auth_pass }}
    }
}

